In [12]:
import pandas as pd

In [25]:
datafile = r'C:\Users\henry\OneDrive\Desktop\schedule.xlsx'

In [26]:
vac = pd.read_excel(datafile,sheet_name='Vacation')

In [27]:
days = pd.read_excel(datafile,sheet_name='Days')

In [41]:
vac_sched = days.merge(vac,on='Date')

In [67]:
vac_slots = vac_sched[['week','callshiftassignment','Person']].drop_duplicates()\
    .sort_values(by=['week','Person'])[['callshiftassignment','Person']].drop_duplicates()

In [68]:
vac_slots

   callshiftassignment  Person
0             weekend8    Jess
2             weekday8    Jess
7             weekend9    Jess
9            weekend10  Deenah
11           weekday10  Deenah
16           weekend11  Deenah
17           weekend11    Paul
20           weekday11  Deenah
26           weekend12    Erin
21           weekday11    Paul
27           weekend12    Paul
30           weekday12    Erin
35           weekend13    Erin

In [45]:
dict(zip(vac_slots.Person,vac_slots.callshiftassignment))

{'Jess': 'weekend9',
 'Deenah': 'weekday11',
 'Paul': 'weekend12',
 'Erin': 'weekend13'}

In [52]:
vac_slots.set_index('Person').to_dict()

{'callshiftassignment': {'Jess': 'weekend9',
  'Deenah': 'weekday11',
  'Paul': 'weekend12',
  'Erin': 'weekend13'}}

In [71]:
vac_slots

   callshiftassignment  Person
0             weekend8    Jess
2             weekday8    Jess
7             weekend9    Jess
9            weekend10  Deenah
11           weekday10  Deenah
16           weekend11  Deenah
17           weekend11    Paul
20           weekday11  Deenah
26           weekend12    Erin
21           weekday11    Paul
27           weekend12    Paul
30           weekday12    Erin
35           weekend13    Erin

In [74]:
#write the scheduled vacation weeks into a dict
#this shows which weeks/weekends people cannot work
vac_weeks = {}
for row in vac_slots.index:
    
    data = vac_slots.loc[row]
    if data[1] not in vac_weeks:
        vac_weeks[data[1]]= [data[0]]

    if data[1] in vac_weeks:
        if data[0] not in vac_weeks[data[1]]:
            vac_weeks[data[1]].append(data[0])

In [75]:
vac_weeks

{'Jess': ['weekend8', 'weekday8', 'weekend9'],
 'Deenah': ['weekend10', 'weekday10', 'weekend11', 'weekday11'],
 'Paul': ['weekend11', 'weekday11', 'weekend12'],
 'Erin': ['weekend12', 'weekday12', 'weekend13']}

In [79]:
potential_call = days.callshiftassignment.drop_duplicates()

In [85]:
#determine which weeks/weekends people can work
#construct a dict of potential call weeks/weekends
not_vac_weeks = {}

for person in vac_weeks:
    for week in potential_call:

        #create first entry
        if person not in not_vac_weeks:
            if week not in vac_weeks[person]:
                not_vac_weeks[person] = [week]

        if person in not_vac_weeks:
            if week not in vac_weeks[person]:
                if week not in not_vac_weeks[person]:
                    not_vac_weeks[person].append(week)

In [91]:
not_vac_weeks['Paul']

['weekday0',
 'weekend1',
 'weekday1',
 'weekend2',
 'weekday2',
 'weekend3',
 'weekday3',
 'weekend4',
 'weekday4',
 'weekend5',
 'weekday5',
 'weekend7',
 'weekday7',
 'weekend8',
 'weekday8',
 'weekend9',
 'weekday9',
 'weekend10',
 'weekday10',
 'weekday12',
 'weekend13']

In [92]:
vac_weeks['Paul']

['weekend11', 'weekday11', 'weekend12']