In [2]:
import pandas as pd
import os
import pathlib

In [3]:
datafile = '..\data\schedule.xlsx'

In [5]:
vac = pd.read_excel(datafile,sheet_name='Vacation')

In [6]:
days = pd.read_excel(datafile,sheet_name='Days')

In [7]:
vac_sched = days.merge(vac,on='Date')

In [21]:
#build list of all potential months call work time units (week or weekend)
#and assign this an index
potential_call = days.callshiftassignment.drop_duplicates()\
    .reset_index().drop('index',axis=1).reset_index()

In [22]:
vac_slots = vac_sched[['week','callshiftassignment','Person']].drop_duplicates()\
    .sort_values(by=['week','Person'])[['callshiftassignment','Person']].drop_duplicates()

In [23]:
vac_slots = vac_slots.merge(potential_call,on='callshiftassignment')

In [24]:
vac_slots

   callshiftassignment  Person  index
0             weekend8    Jess     13
1             weekday8    Jess     14
2             weekend9    Jess     15
3            weekend10  Deenah     17
4            weekday10  Deenah     18
5            weekend11  Deenah     19
6            weekend11    Paul     19
7            weekday11  Deenah     20
8            weekday11    Paul     20
9            weekend12    Erin     21
10           weekend12    Paul     21
11           weekday12    Erin     22
12           weekend13    Erin     23

In [25]:
potential_call

    index callshiftassignment
0       0            weekday0
1       1            weekend1
2       2            weekday1
3       3            weekend2
4       4            weekday2
5       5            weekend3
6       6            weekday3
7       7            weekend4
8       8            weekday4
9       9            weekend5
10     10            weekday5
11     11            weekend7
12     12            weekday7
13     13            weekend8
14     14            weekday8
15     15            weekend9
16     16            weekday9
17     17           weekend10
18     18           weekday10
19     19           weekend11
20     20           weekday11
21     21           weekend12
22     22           weekday12
23     23           weekend13

In [26]:
#write the scheduled vacation weeks into a dict
#this shows which weeks/weekends people cannot work
vac_weeks = {}
for row in vac_slots.index:
    
    data = vac_slots.loc[row]
    if data[1] not in vac_weeks:
        vac_weeks[data[1]]= [data[2]]

    if data[1] in vac_weeks:
        if data[2] not in vac_weeks[data[1]]:
            vac_weeks[data[1]].append(data[2])

In [27]:
vac_weeks

{'Jess': [13, 14, 15],
 'Deenah': [17, 18, 19, 20],
 'Paul': [19, 20, 21],
 'Erin': [21, 22, 23]}

In [28]:
potential_call

    index callshiftassignment
0       0            weekday0
1       1            weekend1
2       2            weekday1
3       3            weekend2
4       4            weekday2
5       5            weekend3
6       6            weekday3
7       7            weekend4
8       8            weekday4
9       9            weekend5
10     10            weekday5
11     11            weekend7
12     12            weekday7
13     13            weekend8
14     14            weekday8
15     15            weekend9
16     16            weekday9
17     17           weekend10
18     18           weekday10
19     19           weekend11
20     20           weekday11
21     21           weekend12
22     22           weekday12
23     23           weekend13

In [29]:
#determine which weeks/weekends people can work
#construct a dict of potential call weeks/weekends
not_vac_weeks = {}

for person in vac_weeks:
    for week in potential_call.index:

        #create first entry
        if person not in not_vac_weeks:
            if week not in vac_weeks[person]:
                not_vac_weeks[person] = [week]

        if person in not_vac_weeks:
            if week not in vac_weeks[person]:
                if week not in not_vac_weeks[person]:
                    not_vac_weeks[person].append(week)

In [32]:
not_vac_weeks['Deenah']

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 21, 22, 23]

In [33]:
vac_weeks['Deenah']

[17, 18, 19, 20]